.dialog-modal .modal-wrapper {
    width: 70%;
    height: 50%;
}

.small-dialog-modal .modal-wrapper {
    width: 70%;
    height: 20%;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}